@font-face {
    font-family: Unispace;
    src: url('unispace.ttf')
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    color: rgba(144, 164, 174, 0.8);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    text-shadow: 1px 1px rgba(20, 20, 20, 0.5);
    background: url('backg.jpg') repeat-x fixed;
    background-size: 100%;
}

abbr {
    text-decoration: none;
}

#zen-intro,
#zen-supporting {
    width: 65%;
    margin-left: 10%;
}

h1,
h2,
h3 {
    font-family: Unispace, 'Courier New', Courier, monospace;
    text-align: center;
    letter-spacing: 0.07em;
    text-shadow: 2px 2px rgba(20, 20, 20, 0.5);
}

h1 {
    font-size: 3em;
    line-height: 1.5em;
}

h2 {
    font-size: 1.5em;
    line-height: 1.1em;
    margin-bottom: 0.3em;
}

h3 {
    font-size: 1.1em;
    font-weight: 100;
    text-align: left;
    line-height: 1em;
    margin-top: 0.15em;
    margin-bottom: 0.4em;
    margin-left: 0.2em;
}

header {
    background: rgba(120, 144, 156, 0.1);
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-bottom: rgba(120, 144, 156, 0.2) 0.1em solid;
}


/* [role="article"] */

#zen-intro>div,
#zen-supporting>div {
    background: rgba(120, 144, 156, 0.1);
    padding: 0.75em;
    font-size: 1.2em;
    text-align: justify;
    border-radius: 0.1em;
    margin: 5px 0;
    border-top: rgba(120, 144, 156, 0.2) 0.05em solid;
    border-bottom: rgba(120, 144, 156, 0.2) 0.05em solid;
}


/* [role="article"]:first-of-type */

#zen-intro>div:first-of-type,
#zen-supporting>div:first-of-type {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-top: rgba(120, 144, 156, 0.2) 0.1em solid;
    margin-top: 20px;
}


/* [role="article"]:last-of-type */

#zen-intro>div:last-of-type,
#zen-supporting>div:last-of-type {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom: rgba(120, 144, 156, 0.2) 0.1em solid;
    margin-bottom: 20px;
}

a,
a:visited {
    text-decoration: none;
    color: rgba(84, 110, 122, 0.8);
}

a:hover {
    color: rgba(96, 125, 139, 0.8);
}

p {
    margin: 5px 0;
}

footer {
    background: rgba(120, 144, 156, 0.1);
    border-top: rgba(120, 144, 156, 0.2) 0.1em solid;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding: 0.7em;
    text-align: center;
    letter-spacing: 0.15em;
    word-spacing: 0.5em;
}

footer a,
footer a:visited {
    text-decoration: none;
    color: rgba(84, 110, 122, 0.9);
}

footer a:hover {
    color: rgba(96, 125, 139, 0.9);
}

aside {
    position: fixed;
    right: 2.5%;
    top: 2.5%;
    width: 20%;
    max-height: 95%;
}

aside>div>div {
    background: rgba(120, 144, 156, 0.1);
    border-top: rgba(120, 144, 156, 0.2) 0.05em solid;
    border-bottom: rgba(120, 144, 156, 0.2) 0.05em solid;
    border-radius: 0.1em;
    padding: 0.7em;
    margin: 5px 0;
    line-height: 1.2em;
}

aside li {
    list-style: none;
}

#design-selection {
    border-top: rgba(120, 144, 156, 0.2) 0.1em solid;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}


#design-selection>h3,
#design-archives>h3,
#zen-resources>h3 {
    margin-bottom: 0;
    padding-bottom: 0.5em;
}

#design-selection>nav,
#design-archives>nav,
#zen-resources>ul {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease-in-out, height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    height: 0;
}

#design-selection>h3:hover+nav,
#design-selection>nav:hover,
#design-archives>h3:hover+nav,
#design-archives>nav:hover,
#zen-resources>h3:hover+ul,
#zen-resources>ul:hover {
    visibility: visible;
    opacity: 1;
    height: 100%;
}

#zen-resources {
    border-bottom: rgba(120, 144, 156, 0.2) 0.1em solid;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

#design-selection li {
    font-size: 0.8em;
}

#design-selection .design-name {
    display: block;
    font-size: 1.4em;
    font-weight: normal;
}

.designer-name {
    display: block;
    float: right;
}